

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      
      <h3 class="font-weight-bold pt-5 pb-2">Dummy Blog Book</h3>
  
      <div class="row mx-3">
        <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/drawkit-drawing-man-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
       <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/drawkit-phone-conversation-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
        <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/app-user-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  
  
  </div>



  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4"  name="email" [(ngModel)]="email" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4"  name="password" [(ngModel)]="password" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" (click)="check_user()" type="submit">Sign in</button>

    <!-- Register -->
    <p>Don't have account?
        <a href="/reg">Register</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

</form>
<!-- Default form login -->

    </div>
  </div>


  

    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      
        <h3 class="font-weight-bold pt-5 pb-2"></h3>
    
      </section>
      <!--Section: Content-->
    
      <!-- Footer -->
<footer class="page-footer font-small  font-small blue pt-4">

  
    <!-- Copyright -->
    <div class="footer-copyright text-center  font-small blue py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Dummy Blog Book </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    
    