

<div class="container my-5 py-5 z-depth-1">

    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      
      <h3 class="font-weight-bold pt-5 pb-2">Hi, <h1>Admin123</h1></h3>

    </section>
    <!--Section: Content-->
  
  </div>


  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="container">
            <div class="row">
          
          
          
              <div class="col-md-12 offset-md- ">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Add Post</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="post" placeholder="..."></textarea>
                    <button class="btn btn-primary" (click)="add_post()">Submit</button>
                  </div>

                  <div class="col-md-4"></div>
                  

              </div> 


     
              <!-- Material input -->
          
              <div>
                
      

               
              </div>
          
          
              <div class="col-md-12 offset-md-12">
            
                <hr>
                <div class="alert alert-dark" role="alert" *ngFor="let post of posts; let i = index">
                  {{post.content}}

                  <div>{{numberofLikes}}</div>
                  <button class="btn btn-primary" (click)="likeButtonClick()">Like</button>
      
                  <button class="btn btn-danger" (click)="disLikeButtonClick()">DisLike</button>

                  <button class="btn btn-primary" (click)="delete_post(i)">delete</button>
                  <br>
          
          
                  <hr>
                  <div>
                    <textarea name="comment" name="comment" #comment></textarea>
                    <button class="btn btn-primary" (click)="add_comment(i, comment)">Comment</button>
          
                    <p *ngFor="let comment of post.comments">{{comment}}<button class="btn btn-primary" (click)="delete_comment(i, comment)">delete</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div> 




    </div>
  </div>








  

  